<footer>
  <div class="footer-wrapper">
    <div class="footer-left">
      <img src="/assets/images/ithaca_Icircle_dark.png" alt="Ithaca Logo" class="footer-logo" />
      <div class="footer-contact">
        <div class="footer-get-in-touch">
          <span>Get in touch.</span>
          <a href="https://www.linkedin.com/in/ashbladon/" target="_blank" aria-label="LinkedIn" class="footer-linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="footer-slogan">
          Built from strategy. Delivered with impact.
        </div>
      </div>
    </div>
    <div class="footer-right">
      <div>Ithaca Project Management Services</div>
      <div>Registration number: CN-5768268</div>
      <div>Site by Ash Bladon. &copy;  {{ site.time | date: '%Y' }} Ithaca.</div>
    </div>
  </div>
</footer>