<header>
  <nav class="sticky-nav">
    <div class="nav-wrapper">
      <a href="#" class="site-title">
        <img src="/assets/images/ithaca_logo_600_200.png" alt="Ithaca Logo" class="nav-logo">
      </a>
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" class="menu-icon"></label>
      <div class="mobile-nav-group">
        <ul class="nav-items">
          <li><a href="#about" class="nav-item">About</a></li>
          <li><a href="#services" class="nav-item">Services</a></li>
          <li><a href="#contact" class="nav-item">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>