
$breakpoint-tablet: 900px;
$breakpoint-mobile: 600px;

$padding-mobile: 1.45rem;

$color-dark: #010100;
$color-orange: #fe9400;
$color-light: #fdfbf9;

$font-header: 'area-extended', sans-serif;
$font-body: 'area', sans-serif;
$line-height-list: 1.35;

$site-width: 1000px;